<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<title>jquery登陆</title>
	<script src="../static/jquery-1.11.0.min.js"></script>
    <script src="../static/test1.js"></script>>
	<link href="../static/dmaku.css" rel="stylesheet" type="text/css" media="all"/>
	<script>
		$(document).ready(function(c) {
			$('.log-close').on('click', function(c){
				$('.login').fadeOut('slow', function(c){
					$('.login').remove();
				});
			});	  
		});
	</script>
</head>



<body>

 
	<h1>{{user.name}}</h1>
	<div class="login">

		<h2><span>立刻登陆</span> <i>或者</i> <a href="#">免费注册</a></h2>
		<span class="log-close"> </span>
		<div class="login-bottom">
		<form>
		<div class="text">
			<input type="text" placeholder="User email" required=""/>
			<span class="men"></span>
			<div class="clear"> </div>
		</div>
		<div class="text">		
			<input type="password" placeholder="Password..." required=""/>
			<span class="pass"></span>
			<div class="clear"> </div>
		</div>

		
        <div class="remember">
			<div class="remember-top">
			<a href="#">忘记密码</a>
			</div>
			<div class="send">
				<input type="submit" value="登陆">
			</div>

		<div class="clear"> </div>
		</div>
		</form>
	</div>
	</div>
	
</body>
</html>
